---
layout: default
---

<!-- Post Header -->
<!-- <style type="text/css">
    header.intro-header{
        background-color:#1f9660;
        /* background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}') */
    }
</style> -->
<header class="intro-header" >
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <div class="Tags">
                        {% for tag in page.tags %}
                        <a class="tag" href="/Tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>
                        {% endfor %}
                    </div>
                    <h1>{{ page.title }}</h1>
                    {% if page.subtitle %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% endif %}
                    <span class="meta">Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} on {{ page.date | date: "%B %-d, %Y" }}</span>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 post-container">

                {{ content }}

                <hr>
                <div id="container"></div>
            </div>
        </div>
    </div>
</article>

<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
    var gitment = new Gitment({
      id: 'comment', // 可选。默认为 location.href
      owner: '344310362',
      repo: 'zhourj.page',
      oauth: {
        client_id: '3bf1890bf53c52759c49',
        client_secret: '34f877564dbd46c105cce9aacf8a5c05c61ace04',
      },
    })
    gitment.render('container')
</script>

<!--<script> 
var gitment = new Gitment({ 
    id: 'location.href', // 可选。默认为 location.href 
    owner: 'zruijin', 
    repo: 'blog.comment', 
    oauth: { 
        client_id: '6ed06cc1bd5dde6da5aa', 
        client_secret: 'cac3f45bc705aa76b60d02d9deedf02478a3a45e'
        }, 
    }) 
    gitment.render('container') 
</script>-->

<style>
    /* place left on bigger screen */
    @media all and (min-width: 800px) {
        .anchorjs-link{
            position: absolute;
            left: -0.75em;
            font-size: 1.1em;
            margin-top : -0.1em;
        }
    }
</style>
